nav.navbar {
  background-color: black;
  opacity: 0.8;
  font-size: 12px;
}

.background-img {
  background-image: url("iphone14bg.jpeg");

  height: 600px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}